$color-bg-cream: rgb(252, 247, 244);
$color-bg-white: rgb(255, 255, 255);
$color-bg-gray: #f5f8fc;
$color-black: rgb(0, 0, 0);
$color-primary-blue: rgb(61, 85, 249);
$color-shadow-lavender: rgba(239, 224, 248, 0.5);
$color-shadow-blue : rgb(235, 244, 253)
$color-bg-soft-blue: rgba(221, 237, 250, 0.5);
$color-text-peach: rgb(240, 188, 163);
$color-text-header: rgb(7, 19, 48);
$color-text-primary: #6d7485;
$font-primary: "Gilory";
$font-secondary: "BC_Novatica";
$font-tertiary: "Gilory-Medium";
$space-s: 1.6rem;
$space-m: 2.4rem;
$space-l: 4.8rem;
$margin-section: 15rem;
@font-face {
  font-family: "Gilory";
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilory-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "BC_Novatica";
  src: url(../fonts/fonnts.com-BC_Novatica_CYR_Regular.otf);
}

@mixin link-hover {
  &:hover {
    color: $color-black;
  }
} //for nav of header and footer

@mixin width-hero-header {
  width: 180rem;
  padding-left: 25rem;
  padding-right: 25rem;
}
@mixin width-section {
  width: 180rem;
  padding-left: 35.5rem;
  padding-right: 25rem;
  margin-top: $margin-section;
}

/* ========================================
     font-size:
     10/12/14/16/18/20/24/30/36/44/52/62/74/86/98 
======================================== */

/* ========================================
    whitespace:
    2/4/8/12/16/24/32/48/64/80/96/128 
    ======================================== */

// <!-- ========== Header ========== -->

.header {
  @include width-hero-header();
  position: fixed;
  top: 0;
  left: 10.5rem;
  align-items: center;
  background-color: $color-bg-cream;
  padding-top: $space-m;
  padding-bottom: $space-m;
  z-index: 1000;

  .header__logo {
    display: flex;
    align-items: center;

    img {
      width: 3rem;
    }

    .name-site {
      margin-left: 0.6rem;
      font-family: $font-tertiary;
      font-size: 2.6rem;
      color: $color-black;
    }
  }

  .nav__list {
    display: flex;
    margin-right: $space-m;
    align-items: center;
    gap: $space-m;
    font-family: $font-tertiary;
    font-weight: 600;
    margin-left: 12.8rem;

    .nav__link {
      color: $color-text-primary;
      font-size: $space-s;
      transition: all 0.3s ease-in-out;
      @include link-hover();
    }
  }

  .header__button {
    margin-left: auto;
    padding: 1.2rem 2rem;
  }
}
// <!-- ========== Hero Section ========== -->

.hero {
  @include width-hero-header();
  margin-left: auto;
  justify-content: center;
  background-color: $color-bg-cream;
  border-bottom-left-radius: 12.8rem;
  .hero__form {
    position: relative;
    .hero__input {
      width: 50rem;
      height: 8rem;
      background-color: $color-bg-white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.8);
      transition: all 0.3s ease;
      border-radius: 25px;
      border: none;
      &:focus {
        box-shadow: 0 0 0 2px $color-primary-blue;
      }
      &::placeholder {
        font-family: $font-primary;
        padding-left: $space-m;
        font-size: 2rem;
      }
    }
    .hero__button {
      position: absolute;
      top: 50%;
      right: 2rem;
      padding: 2rem 3rem;
      transform: translateY(-50%);
    }
  }
  .hero__image {
    margin-top: 8rem;
  }
}

// <!-- ========== Social Biohacking Section ========== -->

.social-biohacking {
  @include width-section();
  .social-biohacking__figure {
    background: none;
    .social-biohacking__image {
      border-radius: 50px;
      box-shadow: 0 7rem 90px 6px $color-bg-soft-blue,
        0 7rem 90px 6px $color-shadow-lavender;
    }
  }
}

// <!-- ========== How It Works Section ========== -->

.how-it-works {
  @include width-section();
  background-color: $color-bg-gray;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
  border-radius: 12.8rem;
  .how-it-works__title {
    text-align: center;
    font-size: 4rem;
    width: 77rem;
    margin: 12.8rem auto 8rem auto;
  }
  .how-it-works__step {
    width: 65%;
    margin: 2rem auto;
    justify-content: center;
    .how-it-works__step--number {
      background-color: $color-primary-blue;
      color: $color-bg-white;
      display: inline-block;
      width: 5.2rem;
      height: 5.2rem;
      padding: 1.5rem;
      margin: 4rem auto;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: 700;
      font-family: $font-primary;
      text-align: center;
    }
    .text {
      width: 50%;
    }
    .image {
      width: 45rem;
    }
  }
}

// <!-- ========== Benefits Section ========== -->

.benefit {
  @include width-section();
  .benefits__header {
    .benefits__title {
      width: 70%;
      margin: 4rem auto;
      text-align: center;
      font-family: $font-primary;
      font-size: 4.8rem;
      line-height: 1.4;
      color: $color-text-peach;
    }
    figure {
      position: relative;
      justify-content: center;
      .benefits__image {
        width: 4.5rem;
      }
      .benefits__logo {
        position: absolute;
        width: 2rem;
        top: 4.25rem;
        right: 62%;
        border-radius: 50%;
        border: 2px solid $color-bg-white;
        z-index: 2;
      }
      figcaption {
        margin-left: 3rem;
      }
    }
  }
  .benefits__content {
    .benefits__item {
      width: 100%;
      justify-content: space-between;
      margin: 20rem auto;
      .benefit__context {
        h2{
          margin-bottom: 4.8rem;
        }
        width: 50%;
        p{
          width: 77%;
        }
      }
      .benefit__image--step-1{
        box-shadow: 1px 1px 1px 10px $color-shadow-blue;
      }
    }
  }
}
